/* lasagna.css */
body {
    background-color: sandybrown;
    text-align: center;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 45px;
    color: seagreen;
}
img {
    width: 80%;
    height: auto;
}
h2 {
    color: seagreen;
}
li {
    color: dimgrey;
}
p {
    color: dimgrey;
}